<h1>Listing stats</h1>

<table>
  <tr>
    <th>Strength</th>
    <th>Constitution</th>
    <th>Dexterity</th>
    <th>Intellect</th>
    <th>Wisdom</th>
    <th>Charisma</th>
    <th>Player</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stats.each do |stat| %>
  <tr>
    <td><%= stat.strength %></td>
    <td><%= stat.constitution %></td>
    <td><%= stat.dexterity %></td>
    <td><%= stat.intellect %></td>
    <td><%= stat.wisdom %></td>
    <td><%= stat.charisma %></td>
    <td><%= stat.player_id %></td>
    <td><%= link_to 'Show', stat %></td>
    <td><%= link_to 'Edit', edit_stat_path(stat) %></td>
    <td><%= link_to 'Destroy', stat, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stat', new_stat_path %>
