<%= form_for(@defense) do |f| %>
  <% if @defense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@defense.errors.count, "error") %> prohibited this defense from being saved:</h2>

      <ul>
      <% @defense.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :AC %><br />
    <%= f.text_field :AC %>
  </div>
  <div class="field">
    <%= f.label :Fort %><br />
    <%= f.text_field :Fort %>
  </div>
  <div class="field">
    <%= f.label :Reflex %><br />
    <%= f.text_field :Reflex %>
  </div>
  <div class="field">
    <%= f.label :Will %><br />
    <%= f.text_field :Will %>
  </div>
  <div class="field">
    <%= f.label :player_id %><br />
    <%= f.text_field :player_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
