<h1>Listing defenses</h1>

<table>
  <tr>
    <th>Ac</th>
    <th>Fort</th>
    <th>Reflex</th>
    <th>Will</th>
    <th>Player</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @defenses.each do |defense| %>
  <tr>
    <td><%= defense.AC %></td>
    <td><%= defense.Fort %></td>
    <td><%= defense.Reflex %></td>
    <td><%= defense.Will %></td>
    <td><%= defense.player_id %></td>
    <td><%= link_to 'Show', defense %></td>
    <td><%= link_to 'Edit', edit_defense_path(defense) %></td>
    <td><%= link_to 'Destroy', defense, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Defense', new_defense_path %>
