<%= form_for(@player_inventory) do |f| %>
  <% if @player_inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player_inventory.errors.count, "error") %> prohibited this player_inventory from being saved:</h2>

      <ul>
      <% @player_inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  	<% players = Player.all.collect {|i| [h(i.character_name), i.id]}%>
	<%= f.label :player_id %>
	<%= f.select(:player_id, players, { :include_blank => false,
		:selected => @player_inventory.player_id}, id => "player_inventory_#{@player_inventory.id}") %>
  </div>
  <div>
  	<% inventories = Inventory.all.collect {|i| [h(i.name), i.id]}%>
	<%= f.label :inventory_id %>
	<%= f.select(:inventory_id, inventories, { :include_blank => false,
		:selected => @player_inventory.inventory_id}, id => "player_inventory_#{@player_inventory.id}") %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
