<%= stylesheet_link_tag "scaffold" %>
<div id="container">
<div id="header">
<center><img src="/images/dnd_banner.jpg" alt="Not here" width="80%" height="100" /></center>
<h1>Interactive Character Sheet</h1>	
</div>

<div id="content">
<!-- Lists all items that a person has equipped and provides
	 a button to change that item -->

<h2>Player Equipment</h2>
<p><br /></p>
<table border="1" style="text-align:center;" cellpadding="10%">  

<% @player_inventories = PlayerInventory.find(:all, :conditions => ["player_id = ?", session[:p_id]]) %> 
  
<% @player_inventories.each do |player_inventory| %>
  <% inventory = Inventory.find(:first, :conditions => ["id = ?", player_inventory.inventory_id]) %>
  <tr>
  	<th><%= inventory.slot %></th>
    <td><%= inventory.name %></td>
	<td><%= link_to 'show', { :controller => "inventories", :action => "show", :id => inventory.id } %></td>
	<td><%= link_to 'Replace ' + inventory.slot, { :controller => "inventories", :action => "list", :slot => inventory.slot, :id => inventory.id } %></td>
  </tr>
<% end %>
</table>
</div>
<div id="rightcol"></div>
<div id="footer">
<table> 
<td><%= link_to image_tag("/images/buttonspellbook.jpg", :width => 150, :height => 68), player_spells_path %></td>
<td><%= link_to image_tag("/images/buttonskills.jpg", :width => 150, :height => 68), skills_path %></td> 
<td><%= link_to image_tag("/images/buttoncharacter.jpg", :width => 150, :height => 68), player_path(:id => session[:p_id]) %></td>  
</table>
<br />

<div id="copyright">By Peter Hiesel and Ryan Costello</div>
</div> 
<div>