<p id="notice"><%= notice %></p>

<p>
  <b>Acrobatics:</b>
  <%= @skill.Acrobatics %>
</p>

<p>
  <b>Arcana:</b>
  <%= @skill.Arcana %>
</p>

<p>
  <b>Athletics:</b>
  <%= @skill.Athletics %>
</p>

<p>
  <b>Bluff:</b>
  <%= @skill.Bluff %>
</p>

<p>
  <b>Diplomacy:</b>
  <%= @skill.Diplomacy %>
</p>

<p>
  <b>Dungeoneering:</b>
  <%= @skill.Dungeoneering %>
</p>

<p>
  <b>Endurance:</b>
  <%= @skill.Endurance %>
</p>

<p>
  <b>Heal:</b>
  <%= @skill.Heal %>
</p>

<p>
  <b>History:</b>
  <%= @skill.History %>
</p>

<p>
  <b>Insight:</b>
  <%= @skill.Insight %>
</p>

<p>
  <b>Intimidate:</b>
  <%= @skill.Intimidate %>
</p>

<p>
  <b>Nature:</b>
  <%= @skill.Nature %>
</p>

<p>
  <b>Perception:</b>
  <%= @skill.Perception %>
</p>

<p>
  <b>Religion:</b>
  <%= @skill.Religion %>
</p>

<p>
  <b>Stealth:</b>
  <%= @skill.Stealth %>
</p>

<p>
  <b>Streetwise:</b>
  <%= @skill.Streetwise %>
</p>

<p>
  <b>Thievery:</b>
  <%= @skill.Thievery %>
</p>

<p>
  <b>Player:</b>
  <%= @skill.player_id %>
</p>


<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
