<%= stylesheet_link_tag "scaffold" %>
<div id="leftheader"></div>

<div id="header"><br/>
<img src="/images/dnd_banner.jpg" alt="Not here" width="100%" height="90" />
<div id="title">
<h1>Interactive Character Sheet</h1>	
</div>

</div>

<div id="rightheader"></div>
<div id="leftcol"></div>
<div id="content">

<!-- We used a Javascript to use the buttons to generate random numbers. -->
<script type="text/javascript">
  function useSpell(spellUsed, attack, spellDamage, damage, spellWeapon)
  {
  	 var spell = document.getElementById("spellPicked");
	 spell.value = spellUsed;
	 var atkResult = document.getElementById("attackResult");
  	 atkResult.value = Math.floor(attack + Math.random()*21);
	 var damResult = document.getElementById("damageResult");
	 var dmg = 0;
	 for(var counter = 0; counter < spellWeapon; counter++){
	 	dmg += Math.floor(1 + Math.random()*damage);		
	 }
  	 damResult.value = spellDamage + dmg;
  }
</script>

<h1>Player SpellBook</h1>

<form>
<table border="1" style="text-align:center;" cellpadding="5%">
	<% @player = Player.find(:first, :conditions => ["id = ?", session[:p_id]]) %>
  <tr>
  	<th colspan=3><%= @player.character_name %></th>
  </tr>
  <tr>
    <th>Spell</th>
    <th>Show</th>
    <th>Remove</th>
  </tr>
    <% @locateWeapon = PlayerInventory.find(:all, :conditions => ["player_id = ?", session[:p_id]]) %>
    <% @locateWeapon.each do |findWeapon|%>
		<% @weapon = Inventory.find(:first, :conditions => ["id = ? and item_type = ?", findWeapon.inventory_id, "Weapon"]) %>
		<% if @weapon %>
			<% @foundWeapon = @weapon %>
		<% end %>
	<% end %>
<!-- Had to calculate the modifers for the spells-->	
	
	<% @player_spells = PlayerSpell.find(:all, :conditions => ["player_id = ?", session[:p_id]])%>

<% @player_spells.each do |player_spell| %>
  <tr>
	<% spell = Spell.find(:first, :conditions => ["id = ?", player_spell.spell_id]) %>
	<% @spell_damage = spell.spell_damage %>
    <td><%= spell.spell_name %></td>
	<% if spell.spell_modone == "Dexterity" or spell.spell_modtwo == "Dexterity" %>
		<% @spell_damage += session[:dex_mod] %>
	<% end %>
	<% if spell.spell_modone == "Strength" or spell.spell_modtwo == "Strength" %>
		<% @spell_damage += session[:str_mod] %>
	<% end %>
	<% if spell.spell_modone == "Constitution" or spell.spell_modtwo == "Constitution" %>
		<% @spell_damage += session[:con_mod] %>
	<% end %>
	<% if spell.spell_modone == "Wisdom" or spell.spell_modtwo == "Wisdom" %>
		<% @spell_damage += session[:wis_mod] %>
	<% end %>
	<% if spell.spell_modone == "Intellect" or spell.spell_modtwo == "Intellect" %>
		<% @spell_damage += session[:int_mod] %>
	<% end %>
	<% if spell.spell_modone == "Charisma" or spell.spell_modtwo == "Charisma" %>
		<% @spell_damage += session[:char_mod] %>
	<% end %>
	
    <td><%= link_to 'Show', {:controller => "spells", :action => :show, :id => player_spell.spell_id} %></td>
    <td><%= link_to 'Destroy', player_spell, :confirm => 'Are you sure?', :method => :delete %></td>
	<td><a href="javascript:useSpell('<%= spell.spell_name %>', <%= spell.spell_attack %>, <%= @spell_damage %>, <%= @foundWeapon.damage %>, <%= spell.spell_weapon %>)" value="Use Spell">
	<img src="/images/contentbuttonusespell.jpg" width="100" height="35" /></a></td>
  </tr>
<% end %>
	<tr>
	  	<th>Used spell <input type="text" readonly=true style="text-align:center;" id="spellPicked"/></th>
		<th>Attack: <input type="text" id="attackResult" readonly=true style="text-align:center;"/></th>
		<th>Damage: <input type="text" id="damageResult" readonly=true style="text-align:center;"/></th>
	</tr>
</table>
</form>
<br />
</div>
<div id="rightcol"></div>
<div id="footer">
<table> 
<td><%= link_to image_tag("/images/buttonaddspell.jpg", :width => 150, :height => 68), {:controller => "spells", :action => :list, :id => @player.character_class} %></td>
<td><%= link_to image_tag("/images/buttonskills.jpg", :width => 150, :height => 68), skills_path %></td>
<td><%= link_to image_tag("/images/buttonequipment.jpg", :width => 150, :height => 68), player_inventories_path %></td> 
<td><%= link_to image_tag("/images/buttoncharacter.jpg", :width => 150, :height => 68), player_path(:id => session[:p_id]) %></td>  
</table>
<br />
<br />
<br />
<div id="copyright">By Peter Hiesel and Ryan Costello</div>
</div>