<%= form_for(@inventory) do |f| %>
  <% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>
      <ul>
      <% @inventory.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_area(:info, :cols => 30, :rows => 10) %>
  </div>
  <% if @item_type != "Weapon" %>
	  <div class="field">
		<%= f.label :slot %><br />
		<b><%= f.label @slot %></b>
		<%= f.hidden_field :slot, :value => @slot %>
	  </div>
	  <div class="field">
	    <%= f.label :item_type %><br />
		<b><%= f.label "Armor" %></b>
	    <%= f.hidden_field :item_type, :value => "Armor" %>
	  </div>
	  <% statbonus = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"] %>
	  <div class="field">
	    <%= f.label "AC Bonus" %><br />
	    <%= f.select(:bAC, statbonus) %>
	  </div>
	  <div class="field">
	    <%= f.label "Fort Bonus" %><br />
	    <%= f.select(:bFort, statbonus) %>
	  </div>
	  <div class="field">
	    <%= f.label "Will Bonus" %><br />
	    <%= f.select(:bWill, statbonus) %>
	  </div>
	  <div class="field">
	    <%= f.label "Reflex Bonus" %><br />
	    <%= f.select(:bReflex, statbonus) %>
	  </div>
	  <% else %>
	  	<div class="field">
		    <%= f.label :item_type %><br />
			<b><%= f.label "Weapon" %></b>
		    <%= f.hidden_field :item_type, :value => "Weapon" %>
	  	</div>
		<div class="field">
			<% weapontype = ["1 Handed", "2 Handed"] %>
	    	<%= f.label :slot %><br />
	    	<%= f.select(:slot, weapontype) %>
	  	</div>
		<div class="field">
			<% damageValue = ["4", "6", "8", "10", "12"]%>
	    	<%= f.label "Dice Roll" %><br />
	    	<%= f.select(:damage, damageValue) %>
	  	</div>		
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>