<h1>Inventory List</h1>

<table border="1">
  <tr>
    <th>Type</th>
	<th>Slot</th>
    <th>Name</th>
    <th>Info</th>
    <th>Dice Damage</th>
    <th>AC</th>
	<th>Fort</th>
	<th>Will</th>
	<th>Reflex</th>
	<th>Edit</th>
	<th>Destroy</th>
  </tr>
<% @inventories = Inventory.order(:slot) %>
<% @inventories.each do |inventory| %>
  <tr style="text-align:center;">
    <td><%= inventory.item_type %></td>
    <td><%= inventory.slot %></td>
    <td><%= inventory.name %></td>
    <td><%= inventory.info %></td>
    <td><%= inventory.damage %></td>
    <td><%= inventory.bAC %></td>
	<td><%= inventory.bFort %></td>
	<td><%= inventory.bWill %></td>
	<td><%= inventory.bReflex %></td>
    <td><%= link_to 'Edit Item', edit_inventory_path(inventory) %></td>
    <td><%= link_to 'Destroy Item', inventory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New Helm', {:action => "new", :slot => "Helm"} %>
<%= link_to 'New Amulet', {:action => "new", :slot => "Amulet"} %>
<%= link_to 'New Chest', {:action => "new", :slot => "Chest"} %>
<%= link_to 'New Gloves', {:action => "new", :slot => "Gloves"} %>
<%= link_to 'New Ring', {:action => "new", :slot => "Ring"} %>
<%= link_to 'New Legs', {:action => "new", :slot => "Legs"} %>
<%= link_to 'New Boots', {:action => "new", :slot => "Boots"} %>
<%= link_to 'New Weapon', {:action => "new", :slot => "Weapon"} %>
<%= link_to 'New Shield', {:action => "new", :slot => "Shield"} %>

