<h1>Inventory List</h1>

<table border="1" style="text-align:center;" cellpadding="5%">
  <tr>
    <th>Type</th>
	<th>Slot</th>
    <th>Name</th>
    <th>Info</th>
    <th>Dice Damage</th>
    <th>AC</th>
	<th>Fort</th>
	<th>Will</th>
	<th>Reflex</th>
	<th>Edit</th>
	<th>Destroy</th>
  </tr>
<% @inventories = Inventory.order(:slot) %>
<% @inventories.each do |inventory| %>	
  <tr>
  	<% if inventory.name != "Hat" and inventory.name != "T-Shirt" and inventory.name != "Neck Tie" and
			inventory.name != "Jeans" and inventory.name != "String" and inventory.name != "Shoes" and
			inventory.name != "Fist" and inventory.name != "Arm" and inventory.name != "Mittens" %> 
	    <td><%= inventory.item_type %></td>
	    <td><%= inventory.slot %></td>
	    <td><%= inventory.name %></td>
	    <td><%= inventory.info %></td>
	    <td><%= inventory.damage %></td>
	    <td><%= inventory.bAC %></td>
		<td><%= inventory.bFort %></td>
		<td><%= inventory.bWill %></td>
		<td><%= inventory.bReflex %></td>
	    <td><%= link_to 'Edit Item', edit_inventory_path(inventory.id) %></td>
	    <td><%= link_to 'Destroy Item', inventory, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br /> | 
<%= link_to 'New Helm', {:action => "new", :slot => "Helm", :item_type => "Armor"} %> | 
<%= link_to 'New Amulet', {:action => "new", :slot => "Amulet", :item_type => "Armor"} %> | 
<%= link_to 'New Chest', {:action => "new", :slot => "Chest", :item_type => "Armor"} %> | 
<%= link_to 'New Gloves', {:action => "new", :slot => "Gloves", :item_type => "Armor"} %> | 
<%= link_to 'New Ring', {:action => "new", :slot => "Ring", :item_type => "Armor"} %> | 
<%= link_to 'New Legs', {:action => "new", :slot => "Legs", :item_type => "Armor"} %> | 
<%= link_to 'New Boots', {:action => "new", :slot => "Boots", :item_type => "Armor"} %> | 
<%= link_to 'New Weapon', {:action => "new", :slot => "1 Handed", :item_type => "Weapon"} %> | 
<%= link_to 'New Shield', {:action => "new", :slot => "Shield", :item_type => "Armor"} %> | 
<br />
<br />
<%= link_to 'Character List', players_path %> 
