<h1>Listing inventories</h1>

<table border="1">
  <tr>
    <th>Type</th>
	<th>Slot</th>
    <th>Name</th>
    <th>Info</th>
    <th>Damage</th>
    <th>AC</th>
	<th>Fort</th>
	<th>Will</th>
	<th>Reflex</th>
	<th>Show</th>
	<th>Edit</th>
	<th>Destroy</th>
  </tr>

<% @inventories.each do |inventory| %>
  <tr>
    <td><%= inventory.item_type %></td>
    <td><%= inventory.slot %></td>
    <td><%= inventory.name %></td>
    <td><%= inventory.info %></td>
    <td><%= inventory.damage %></td>
    <td><%= inventory.bAC %></td>
	<td><%= inventory.bFort %></td>
	<td><%= inventory.bWill %></td>
	<td><%= inventory.bReflex %></td>
    <td><%= link_to 'Show', inventory %></td>
    <td><%= link_to 'Edit', edit_inventory_path(inventory) %></td>
    <td><%= link_to 'Destroy', inventory, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Inventory', new_inventory_path %>
