<%= stylesheet_link_tag "scaffold" %>
<div id="container">
<div id="header">
<center><img src="/images/dnd_banner.jpg" alt="Not here" width="80%" height="100" /></center>
<h1>Interactive Character Sheet</h1>	
</div>

<div id="content">

<h2>Inventory List</h2>
<p><br /></p>
<table border="1" style="text-align:center;" cellpadding="5%">
  <tr>
    <th>Type</th>
	<th>Slot</th>
    <th>Name</th>
    <th>Info</th>
    <th>Dice Damage</th>
    <th>AC</th>
	<th>Fort</th>
	<th>Will</th>
	<th>Reflex</th>
	<th>Change</th>
	<th>Destroy</th>
  </tr>
<% @inventories = Inventory.order(:slot) %>
<% @inventories.each do |inventory| %>	
  <tr>
  	<% if inventory.name != "Hat" and inventory.name != "T-Shirt" and inventory.name != "Neck Tie" and
			inventory.name != "Jeans" and inventory.name != "String" and inventory.name != "Shoes" and
			inventory.name != "Fist" and inventory.name != "Arm" and inventory.name != "Mittens" %> 
	    <td><%= inventory.item_type %></td>
	    <td><%= inventory.slot %></td>
	    <td><%= inventory.name %></td>
	    <td><%= inventory.info %></td>
	    <td><%= inventory.damage %></td>
	    <td><%= inventory.bAC %></td>
		<td><%= inventory.bFort %></td>
		<td><%= inventory.bWill %></td>
		<td><%= inventory.bReflex %></td>
	    <td><%= link_to 'Edit', edit_inventory_path(inventory.id) %></td>
	    <td><%= link_to 'Delete', inventory, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />  

<br />
<br />
</div>
<div id="footer">
<table> 
<tr><td><%= link_to image_tag("/images/buttonback.jpg", :width => 150, :height => 68), players_path %></td>
<td><%= link_to image_tag("/images/buttonnewhelm.jpg", :width => 150, :height => 68), {:action => "new", :slot => "Helm", :item_type => "Armor"} %></td>
<td><%= link_to image_tag("/images/buttonnewamulet.jpg", :width => 150, :height => 68), {:action => "new", :slot => "Amulet", :item_type => "Armor"} %></td> 
<td><%= link_to image_tag("/images/buttonnewchest.jpg", :width => 150, :height => 68), {:action => "new", :slot => "Chest", :item_type => "Armor"} %></td> 
<td><%= link_to image_tag("/images/buttonnewgloves.jpg", :width => 150, :height => 68), {:action => "new", :slot => "Gloves", :item_type => "Armor"} %></td></tr>  
<tr><td><%= link_to image_tag("/images/buttonnewring.jpg", :width => 150, :height => 68), {:action => "new", :slot => "Ring", :item_type => "Armor"} %></td>
<td><%= link_to image_tag("/images/buttonnewpants.jpg", :width => 150, :height => 68), {:action => "new", :slot => "Legs", :item_type => "Armor"} %></td>  
<td><%= link_to image_tag("/images/buttonnewboots.jpg", :width => 150, :height => 68), {:action => "new", :slot => "Boots", :item_type => "Armor"} %></td> 
<td><%= link_to image_tag("/images/buttonnewweapon.jpg", :width => 150, :height => 68), {:action => "new", :slot => "1 Handed", :item_type => "Weapon"} %></td>  
<td><%= link_to image_tag("/images/buttonnewshield.jpg", :width => 150, :height => 68), {:action => "new", :slot => "Shield", :item_type => "Armor"} %></td></tr>   
</table>
<div id="copyright">By Peter Hiesel and Ryan Costello</div>
</div>