<!-- Lists items of the chosen slot to replace the selected item -->

<table border="1" style="text-align:center;" cellpadding="5%">
  <tr>
    <th>Type</th>
	<th>Slot</th>
    <th>Name</th>
    <th>Info</th>
    <th>Dice Damage</th>
    <th>AC</th>
	<th>Fort</th>
	<th>Will</th>
	<th>Reflex</th>
	<th>Add</th>
  </tr>
<% if @slot == "1 Handed" or @slot == "2 Handed" %>
	<% @inventories = Inventory.find(:all, :conditions => ["item_type = ?", "Weapon"]) %>
	<% else %>
	<% @inventories = Inventory.find(:all, :conditions => ["slot = ?", @slot]) %>
<% end %>
<% @inventories.each do |inventory| %>
  <tr style="text-align:center;">
    <td><%= inventory.item_type %></td>
    <td><%= inventory.slot %></td>
    <td><%= inventory.name %></td>
    <td><%= inventory.info %></td>
    <td><%= inventory.damage %></td>
    <td><%= inventory.bAC %></td>
	<td><%= inventory.bFort %></td>
	<td><%= inventory.bWill %></td>
	<td><%= inventory.bReflex %></td>
	<td><%= link_to 'Add Item', {:controller => "player_inventories", :action => "addItem", :id => inventory.id, :oldId => @id} %></td>
  </tr>
<% end %>
</table>
<%= link_to 'Equipped Items', player_inventories_path %>


