<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @inventory.item_type %>
</p>

<p>
  <b>Slot:</b>
  <%= @inventory.slot %>
</p>

<p>
  <b>Name:</b>
  <%= @inventory.name %>
</p>

<p>
  <b>Info:</b>
  <%= @inventory.info %>
</p>

<p>
  <b>Damage:</b>
  <%= @inventory.damage %>
</p>

<p>
  <b>AC:</b>
  <%= @inventory.bAC %>
</p>

<p>
  <b>Fort:</b>
  <%= @inventory.bFort %>
</p>

<p>
  <b>Will:</b>
  <%= @inventory.bWill %>
</p>

<p>
  <b>Reflex:</b>
  <%= @inventory.bReflex %>
</p>


<%= link_to 'Edit', edit_inventory_path(@inventory) %> |
<%= link_to 'Back', inventories_path %>
