<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @inventory.item_type %>
</p>

<p>
  <b>Slot:</b>
  <%= @inventory.slot %>
</p>

<p>
  <b>Name:</b>
  <%= @inventory.name %>
</p>

<p>
  <b>Info:</b>
  <%= @inventory.info %>
</p>

<% if @inventory.item_type == "Weapon" %>
	<p>
	  <b>Dice Damage:</b>
	  <%= @inventory.damage %>
	</p>
<% else %>
	<p>
	  <b>AC:</b>
	  <%= @inventory.bAC %>
	</p>
	
	<p>
	  <b>Fort:</b>
	  <%= @inventory.bFort %>
	</p>
	
	<p>
	  <b>Will:</b>
	  <%= @inventory.bWill %>
	</p>
	
	<p>
	  <b>Reflex:</b>
	  <%= @inventory.bReflex %>
	</p>
<% end %>

<%= link_to 'Back to Equipment List', player_inventories_path %>
