<%= stylesheet_link_tag "scaffold" %>
<div id="container">
<div id="header">
<center><img src="/images/dnd_banner.jpg" alt="Not here" width="80%" height="100" /></center>
<h1>Interactive Character Sheet</h1>	
</div>

<div id="content">
		
<p>
  <b>Type:</b>
  <%= @inventory.item_type %>
</p>

<p>
  <b>Slot:</b>
  <%= @inventory.slot %>
</p>

<p>
  <b>Name:</b>
  <%= @inventory.name %>
</p>

<p>
  <b>Info:</b>
  <%= @inventory.info %>
</p>

<% if @inventory.item_type == "Weapon" %>
	<p>
	  <b>Dice Damage:</b>
	  <%= @inventory.damage %>
	</p>
<% else %>
	<p>
	  <b>AC:</b>
	  <%= @inventory.bAC %>
	</p>
	
	<p>
	  <b>Fort:</b>
	  <%= @inventory.bFort %>
	</p>
	
	<p>
	  <b>Will:</b>
	  <%= @inventory.bWill %>
	</p>
	
	<p>
	  <b>Reflex:</b>
	  <%= @inventory.bReflex %>
	</p>
<% end %>

</div>
<div id="footer">
<table> 
<td><%= link_to image_tag("/images/buttonback.jpg", :width => 150, :height => 68), player_inventories_path %></td>  
</table>
<br />

<div id="copyright">By Peter Hiesel and Ryan Costello</div>
</div> 
<div>