<h1>Spell List</h1>

<table border="1" style="text-align:center;" cellpadding="5%">
  <tr>
    <th>Spell name</th>
    <th>Spell class</th>
    <th>Spell info</th>
    <th>Spell remaining</th>
    <th>Spell attack</th>
    <th>Spell damage</th>
	<th>Modifier 1</th>
	<th>Modifier 2</th>
    <th>Edit</th>
    <th>Destroy</th>
  </tr>

<% @spells.each do |spell| %>
  <tr>
    <td><%= spell.spell_name %></td>
    <td><%= spell.spell_class %></td>
    <td><%= spell.spell_info %></td>
    <td><%= spell.spell_remaining %></td>
    <td><%= spell.spell_attack %></td>
    <td><%= spell.spell_damage %></td>
	<td><%= spell.spell_modone %></td>
	<td><%= spell.spell_modtwo %></td>
    <td><%= link_to 'Edit Spell', edit_spell_path(spell) %></td>
    <td><%= link_to 'Destroy Spell', spell, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br /> | 
<%= link_to 'New Spell', new_spell_path %> | 
<%= link_to 'Character List', players_path %> |
