<%= stylesheet_link_tag "scaffold" %>
<div id="container">
<div id="header">
<center><img src="/images/dnd_banner.jpg" alt="Not here" width="80%" height="100" /></center>
<h1>Interactive Character Sheet</h1>	
</div>
<div id="content">


<!-- Lists sells available to the character's class -->
<h2>Listing Spells</h2>
<p><br /></p>
<table border="1" style="text-align:center;" cellpadding="5%">
  <tr>
    <th>Spell name</th>
    <th>Spell class</th>
    <th>Spell info</th>
    <th>Spell remaining</th>
    <th>Spell attack</th>
    <th>Spell damage</th>
	<th>Modifier 1</th>
	<th>Modifier 2</th>
    <th>Add</th>
  </tr>
<% @spells = Spell.find(:all, :conditions => ["spell_class = ?", @char_class]) %>
<% @spells.each do |spell| %>
  <tr>
    <td><%= spell.spell_name %></td>
    <td><%= spell.spell_class %></td>
    <td><%= spell.spell_info %></td>
    <td><%= spell.spell_remaining %></td>
    <td><%= spell.spell_attack %></td>
    <td><%= spell.spell_damage %></td>
	<td><%= spell.spell_modone %></td>
	<td><%= spell.spell_modtwo %></td>
	<% @spell_exists = PlayerSpell.find(:first, :conditions => ["spell_id = ?", spell.id]) %>
    
    <% if @spell_exists %>
       <td>Spell already in spell book.</td>
	   <% else %>
	   		<td><%= link_to "Add Spell", {:controller => "player_spells", :action => :addSpell, :id => spell.id} %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

</div>
<div id="footer">
<table> 
<td><%= link_to image_tag("/images/buttonback.jpg", :width => 150, :height => 68), {:controller => "player_spells", :action => :index} %></td>  
</table>
<br />

<div id="copyright">By Peter Hiesel and Ryan Costello</div>
</div> 
<div>