<h1>Listing spells</h1>

<table border="1">
  <tr>
    <th>Spell name</th>
    <th>Spell class</th>
    <th>Spell info</th>
    <th>Spell remaining</th>
    <th>Spell attack</th>
    <th>Spell damage</th>
    <th>Add</th>
  </tr>
<% @spells = Spell.find(:all, :conditions => ["spell_class = ?", @char_class]) %>
<% @spells.each do |spell| %>
  <tr>
    <td><%= spell.spell_name %></td>
    <td><%= spell.spell_class %></td>
    <td><%= spell.spell_info %></td>
    <td><%= spell.spell_remaining %></td>
    <td><%= spell.spell_attack %></td>
    <td><%= spell.spell_damage %></td>
	<% @spell_exists = PlayerSpell.find(:first, :conditions => ["spell_id = ?", spell.id]) %>
    
    <% if @spell_exists %>
       <td>Spell already in spell book.</td>
	   <% else %>
	   		<td><%= link_to "Add Spell", {:controller => "player_spells", :action => :addSpell, :id => spell.id} %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'SpellBook', {:controller => "player_spells", :action => :index} %>
