<%= stylesheet_link_tag "scaffold" %>
<div id="leftheader"></div>

<div id="header"><br/>
<img src="/images/dnd_banner.jpg" alt="Not here" width="100%" height="90" />
<div id="title">
<h1>Interactive Character Sheet</h1>	
</div>

</div>

<div id="rightheader"></div>
<div id="leftcol"></div>
<div id="content">
<p>
  <b>Spell name:</b>
  <%= @spell.spell_name %>
</p>

<p>
  <b>Spell class:</b>
  <%= @spell.spell_class %>
</p>

<p>
  <b>Spell info:</b>
  <%= @spell.spell_info %>
</p>

<p>
  <b>Spell remaining:</b>
  <%= @spell.spell_remaining %>
</p>

<p>
  <b>Spell attack:</b>
  <%= @spell.spell_attack %>
</p>

<p>
  <b>Spell damage:</b>
  <%= @spell.spell_damage %>
</p>

<p>
  <b>Spell weapon:</b>
  <%= @spell.spell_weapon %>
</p>

<p>
  <b>Mod One:</b>
  <%= @spell.spell_modone %>
</p>

<p>
  <b>Mod Two:</b>
  <%= @spell.spell_modtwo %>
</p>

</div>
<div id="rightcol"></div>
<div id="footer">
<table> 
<td><%= link_to image_tag("/images/buttonback.jpg", :width => 150, :height => 68), {:controller => "player_spells", :action => :index} %></td>  
</table>
<br />
<br />
<br />
<div id="copyright">By Peter Hiesel and Ryan Costello</div>
</div> 

