<p id="notice"><%= notice %></p>

<p>
  <b>Spell name:</b>
  <%= @spell.spell_name %>
</p>

<p>
  <b>Spell class:</b>
  <%= @spell.spell_class %>
</p>

<p>
  <b>Spell info:</b>
  <%= @spell.spell_info %>
</p>

<p>
  <b>Spell remaining:</b>
  <%= @spell.spell_remaining %>
</p>

<p>
  <b>Spell attack:</b>
  <%= @spell.spell_attack %>
</p>

<p>
  <b>Spell damage:</b>
  <%= @spell.spell_damage %>
</p>

<%= link_to 'Back', {:controller => "player_spells", :action => :index} %>
