<%= form_for(@player) do |f| %>
  <% if @player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
      <% @player.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :character_name %><br />
    <%= f.text_field :character_name %>
  </div>
  <div class="field">
    <%= f.label :character_class %><br />
    <%= f.text_field :character_class %>
  </div>
  <div class="field">
    <%= f.label :character_initiative %><br />
    <%= f.text_field :character_initiative %>
  </div>
  <div class="field">
    <%= f.label :character_level %><br />
    <%= f.text_field :character_level %>
  </div>
  <div class="field">
    <%= f.label :strength %><br />
    <%= f.text_field :strength %>
  </div>
  <div class="field">
    <%= f.label :constitution %><br />
    <%= f.text_field :constitution %>
  </div>
  <div class="field">
    <%= f.label :dexterity %><br />
    <%= f.text_field :dexterity %>
  </div>
  <div class="field">
    <%= f.label :intellect %><br />
    <%= f.text_field :intellect %>
  </div>
  <div class="field">
    <%= f.label :wisdom %><br />
    <%= f.text_field :wisdom %>
  </div>
  <div class="field">
    <%= f.label :charisma %><br />
    <%= f.text_field :charisma %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
