<%= stylesheet_link_tag "scaffold" %>
<div id="container">
<div id="header">
<center><img src="/images/dnd_banner.jpg" alt="Not here" width="80%" height="100" /></center>
<h1>Interactive Character Sheet</h1>	
</div>

<div id="content">
<!-- Listing of all players -->
<h2>Character List</h2>
<p><br /></p>
<table border = "1" cellpadding="10%" >
  <tr>
    <th>Name</th>
    <th>Class</th>
    <th>Level</th>
    <th>Pick</th>
    <th>Change</th>
    <th>Destroy</th>
  </tr>
<form>
<% @players.each do |player| %>
  <tr style="text-align:center;">
    <td><%= player.character_name %></td>
    <td><%= player.character_class %></td>
    <td><%= player.character_level %></td>
    <td><%= link_to 'Load', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Delete', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<br />

</div>
<div id="footer">
<table> 
<td><%= link_to image_tag("/images/buttonnewcharacter.jpg", :width => 150, :height => 68), new_player_path %></td>  
<td><%= link_to image_tag("/images/buttonspells.jpg", :width => 150, :height => 68), spells_path %> </td>
<td><%= link_to image_tag("/images/buttoninventory.jpg", :width => 150, :height => 68), inventories_path %></td>
</table>
<br />
<%= link_to 'User\'s Guide', '/resource/DNDUsersGuide.pdf' -%>
<br />
<div id="copyright">By Peter Hiesel and Ryan Costello</div>
</div> 
<div>