<h1>Listing players</h1>

<table>
  <tr>
    <th>Character name</th>
    <th>Character class</th>
    <th>Character initiative</th>
    <th>Character level</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @players.each do |player| %>
  <tr>
    <td><%= player.character_name %></td>
    <td><%= player.character_class %></td>
    <td><%= player.character_initiative %></td>
    <td><%= player.character_level %></td>
    <td><%= link_to 'Show', player %></td>
    <td><%= link_to 'Edit', edit_player_path(player) %></td>
    <td><%= link_to 'Destroy', player, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Player', new_player_path %>
