<%= stylesheet_link_tag "scaffold" %>
<div id="container">
<div id="header">
<center><img src="/images/dnd_banner.jpg" alt="Not here" width="80%" height="100" /></center>
<h1>Interactive Character Sheet</h1>	
</div>
<div id="content">
<!--Shows tables: abilities, defenses and skill with links to 
	character inventory and spell book.  Uses javascript to 
	use skills and ruby button to calculate health changes. -->
	
<h3 style="font-size:x-large;"><div id="title">Character:</div><u><%= @player.character_name %></u><br /><br />
	<div id="title">Class:</div><u><%= @player.character_class %></u><br /><br />
	<div id="title">Level:</div><u><%= @player.character_level%></u><br /><br />
	<div id="title">Initiative:</div><u><%= @player.character_initiative %></u></h3>

	<div style="float:right; margin-right:10%">
	
	
	<%= form_tag(:action => :level_up) do %>
	  <%= image_submit_tag("/images/contentbuttonlevelup.jpg", :width => 130, :height => 48) %>
	  <% end %>
	</div>
<br />
<br />
<p id="errornotice" style="text-align:center;"> <%= notice%></p>
	
<% @defense = Defense.find(:first, :conditions => "player_id = '#{session[:p_id]}'") %>

<% ac = 0 %>
<% if !@defense %>
	<% if @player.character_class == "Rogue" or @player.character_class == "Mage" or @player.character_class == "Warlock" or
			@player.character_class == "Cleric" or @player.character_class == "Ranger" %>
			<% if session[:dex_mod] > session[:int_mod] %>
				<% ac = session[:dex_mod] %>
			<% else %>
					<% ac = session[:int_mod] %> 
			<% end %>
	<% end %>
	<% if session[:str_mod] > session[:con_mod] %>
		<% fort = session[:str_mod]%>
		<% else %>
			<% fort = session[:con_mod] %>
	<% end %>
	<% if session[:dex_mod] > session[:int_mod] %>
		<% ref = session[:dex_mod]%>
		<% else %>
			<% ref = session[:int_mod] %>
	<% end %>
	<% if session[:wis_mod] > session[:char_mod] %>
		<% will = session[:wis_mod]%>
		<% else %>
			<% will = session[:char_mod] %>
	<% end %>
	<% @defense = Defense.new(:AC => 10+ac, :Fort => 10+fort, 
		:Reflex => 10+ref, :Will => 10+will, :player_id => @player.id) %>
	<% @defense.save %>
<% end %>

	
	<table border="1" style="float:left; margin-left:5%;" cellpadding="10%">
			<tr>
				<th colspan=2>Abilities</th>
				<th>Mod</th>
			</tr>
			  <th>Strength:</th>
			  <td><%= @player.strength %></td>
			  <td><%= session[:str_mod] %></td>
			</tr>
			<tr>
			  <th>Constitution:</th>
			  <td><%= @player.constitution %></td>
			  <td><%= session[:con_mod] %></td>
			</tr>
			<tr>
			  <th>Dexterity:</th>
			  <td><%= @player.dexterity %></td>
			  <td><%= session[:dex_mod] %></td>
			</tr>
			<tr>
			  <th>Intellect:</th>
			  <td><%= @player.intellect %></td>
			  <td><%= session[:int_mod] %></td>
			</tr>
			<tr>
			  <th>Wisdom:</th>
			  <td><%= @player.wisdom %></td>
			  <td><%= session[:wis_mod] %></td>
			</tr>
			<tr>
			  <th>Charisma:</th>
			  <td><%= @player.charisma %></td>
			  <td><%= session[:char_mod] %></td>
			</tr>
		</table>
	<table border="1" style="float:left; margin-left:5%;" cellpadding="20%">
		<tr>
			<th colspan=2>Defenses</th>
		</tr>
		<tr>
		  <th>AC:</th>
		  <td><%= @defense.AC + (@player.character_level/2) + session[:ac] %></td>
		</tr>
		<tr>
		  <th>Fortitude:</th>
		  <td><%= @defense.Fort + (@player.character_level/2) + session[:fort] %></td>
		</tr>
		<tr>
		  <th>Reflex:</th>
		  <td><%= @defense.Reflex + (@player.character_level/2) + session[:ref] %></td>
		</tr>
		<tr>
		  <th>Will:</th>
		  <td><%= @defense.Will + (@player.character_level/2) + session[:will]%></td>
		</tr>
	</table>
	
	<br/>
	<br/>
	<br/>
	
	<table border="1" cellpadding="5%" style="text-align:center; margin:auto;">
		<tr>
			<th>Subtract Health</th>
			<th>Current Health</th>
			<th>Add Health</th>
		</tr>
		<tr>
	  
	  <%= form_tag(:action => :changehealth) do %>
	  <div class="field">
      <td><%= text_field_tag(:health_down, nil, :size => 3)%></td>
	  <td><%= session[:health] %></td>
	  <td><%= text_field_tag(:health_up, nil, :size => 3)%></td>
	  </div>
	  </tr>
   </table>
   <div style="text-align:center; margin:auto;">
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	  <%= image_submit_tag("/images/contentbuttonupdatehealth.jpg", :width => 130, :height => 48) %>
	  </div>
	  <% end %>

</div>
<div id="footer">
<table>
<td><%= link_to image_tag("/images/buttonspellbook.jpg", :width => 150, :height => 68), player_spells_path %></td>
<td><%= link_to image_tag("/images/buttonskills.jpg", :width => 150, :height => 68), skills_path %></td>
<td><%= link_to image_tag("/images/buttonequipment.jpg", :width => 150, :height => 68), player_inventories_path %></td>
<td><%= link_to image_tag("/images/buttoncharacterlist.jpg", :width => 150, :height => 68), players_path %></td> 
</table>
<br />

<div id="copyright">By Peter Hiesel and Ryan Costello</div>
</div> 
<div>
